@font-face {
    font-family: "SinkinSansMedium";
    src: 
        url("assets/fonts/SinkinSans-500Medium.woff") format("woff")
        url("assets/fonts/SinkinSans-500Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SinkinSansBold";
    src: 
        url("assets/fonts/SinkinSans-700Bold.woff") format("woff")
        url("assets/fonts/SinkinSans-700Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}